*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.width-80 {
    width: 1200px;
}

.margin-auto {
    margin: 0 auto;
}

/* navbar layout */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    
    
    height: 70px;
}

.logo-container {
    display: flex;
    width: 250px;
}

.logo-container>img {
    width: 100%;

}

.navbar-vertical-divider {
    height: 100%;
    border: 1px solid #CBD5E0;
    margin: 0 20px;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 25px;
    width: 35vw;

}

.links>a {
    text-decoration: none;
    color: #0A0A0A;
    font-size: 20px;
}

.trainings {
    display: flex;
}

.trainings-div {
    display: flex;

    width: 20px;
    height: 20px;
}

.trainings-div img {
    width: 100%;
    margin-left: 10px;
}

/* navbar layout */

/* First Para layout */

.py-px {
    padding: 6rem 1.25rem;
}

.LandingPage-first-para {
    display: flex;
    justify-content: space-between;
}

.first-para-info {
    width: 52%;
}

.first-para-image {
    display: flex;
    align-items: center;
    width: 40%;
}

.first-para-image>img {
    width: 480px;
    height: 280px;
}

.first-para-info>h2 {
    width: 300px;
    color: #006838;
    line-height: 60px;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first-para-info>p {
    color: grey;
    font-weight: 100;
    line-height: 30px;
}

.first-para-bxsh {
    box-shadow: 10 5px 2px grey;
}

/* First Para layout */

/* Second Para layout */

.sec-para>h2 {
    width: 450px;
}

.sec-para-bxsh {
    box-shadow: 10px 5px 10px grey;
}

/* Second Para layout */

/* Third Para layout */

